@charset "utf-8";

/* CSS Resets */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* STYLES */

:root {
  --MORNING: hsl(1, 70%, 70%);
  --NOON: hsl(353, 40%, 61%);
  --AFTERNOON: hsl(326, 26%, 44%);
  --EVENING: hsl(280, 37%, 32%);
  --NIGHT: hsl(256, 52%, 25%);

  --MORNING_HUE: 1;
  --NOON_HUE: 353;
  --AFTERNOON_HUE: 326;
  --EVENING_HUE: 280;
  --NIGHT_HUE: 256;

  --MORNING_SATURATION: 70%;
  --NOON_SATURATION: 40%;
  --AFTERNOON_SATURATION: 26%;
  --EVENING_SATURATION: 37%;
  --NIGHT_SATURATION: 52%;

  --MORNING_LIGHTNESS: 47%;
  --NOON_LIGHTNESS: 51%;
  --AFTERNOON_LIGHTNESS: 44%;
  --EVENING_LIGHTNESS: 32%;
  --NIGHT_LIGHTNESS: 25%;

  --HUE: var(--MORNING_HUE);
  --SATURATION: var(--MORNING_SATURATION);
  --LIGHTNESS: var(--MORNING_LIGHTNESS);

  --COLOR_PRIMARY: hsl(
    var(--HUE),
    var(--SATURATION),
    calc(var(--LIGHTNESS) + 10%)
  );
  --COLOR_SECONDARY: hsl(
    var(--HUE),
    calc(var(--SATURATION) - 10%),
    var(--LIGHTNESS)
  );
  --COLOR_GRAY-100: hsl(var(--HUE), 14%, 97%);
  --COLOR_GRAY-300: hsl(var(--HUE), 38%, 90%);
  --COLOR_GRAY-500: hsl(var(--HUE), 28%, 70%);

  --COLOR_TRANSITION: background-color 1750ms ease-in-out,
    color 1750ms ease-in-out;
}

body {
  color: var(--COLOR_SECONDARY);
  background-color: var(--COLOR_GRAY-300);
  padding: 0 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  overflow: clip;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: var(--COLOR_TRANSITION);
}

header {
  display: flex;
  align-items: center;
  padding: 16px 0;
  color: var(--COLOR_SECONDARY);
}

.temperature-fieldset {
  margin-left: auto;
  border: none;
  text-align: center;
  font-size: 1.25rem;

  .temperature-control {
    display: flex;
    border-radius: 100vmax;
    overflow: hidden;

    .form-control {
      height: 44px;
      width: 55px;

      label,
      input {
        position: absolute;
        inset: 0;
        height: 100%;
        width: 100%;
        cursor: pointer;
      }

      label {
        display: grid;
        place-content: center;
        user-select: none;
        font-weight: bold;
        border: 1px solid var(--COLOR_SECONDARY);
        transition:
          background-color 200ms ease-in-out,
          color 200ms ease-in-out;
      }

      &:first-of-type label {
        border-radius: 100vmax 0 0 100vmax;
      }

      &:last-of-type label {
        border-radius: 0 100vmax 100vmax 0;
      }

      input {
        display: none;
      }

      input:checked + label {
        color: var(--COLOR_GRAY-100);
        background-color: var(--COLOR_SECONDARY);
      }
    }
  }
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;

  .search-form {
    width: fit-content;
    margin: auto;
    padding: 16px 0;

    .form-control {
      display: flex;
      flex-direction: column;
      text-align: center;
      font-size: 1.25rem;

      .input-wrapper {
        border: 2px solid var(--COLOR_SECONDARY);
        border-radius: 12px;
        overflow: hidden;
        transition: filter 150ms ease-in-out;

        &.disabled {
          filter: sepia(0.3) blur(1px);
        }

        input {
          padding: 16px 16px 8px;
          border-radius: 12px 12px 0 0;
          border: none;
          background-color: var(--COLOR_GRAY-300);
          color: var(--COLOR_PRIMARY);
        }

        input:focus {
          outline: none;
        }

        input:disabled {
          cursor: not-allowed;
        }

        .debounce-bar {
          --time: 1000ms;
          --transition-function: cubic-bezier(0.88, 0.02, 1, 0.71);
          height: 8px;
          position: relative;

          &::after {
            content: '';
            position: absolute;
            inset: 0;
            height: 100%;
            width: 100%;
            background-color: var(--COLOR_PRIMARY);
            transform-origin: left center;
            transform: scaleX(0);
            transition:
              transform var(--time) var(--transition-function),
              background-color 150ms var(--transition-function);
          }

          &.filled::after {
            transform: scaleX(1);
            background-color: var(--COLOR_SECONDARY);
          }
        }
      }
    }
  }

  .weather-info {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 250px;
    grid-template-rows: 1fr 200px;
    grid-template-areas:
      'summary additional'
      'daily-forecasts daily-forecasts';

    .summary {
      grid-area: summary;

      .condition {
        font-size: 2.5rem;
      }

      .location {
        font-size: 1.35rem;
        line-height: 1.25;

        &:last-of-type {
          font-size: 1.15rem;
          margin-block-end: 1rem;
          line-height: 1;
        }
      }

      .datetime {
        display: flex;
        flex-direction: column;
        line-height: 1;
      }

      .scale-wrapper {
        font-size: 4rem;
      }
    }

    .additional {
      grid-area: additional;
      display: grid;
      grid-auto-columns: max-content;
      grid-auto-rows: min-content;
      justify-content: end;
      gap: 8px;
    }

    .daily-forecasts {
      grid-area: daily-forecasts;
      display: flex;
      justify-content: center;
      overflow-x: auto;
      gap: 8px;
      padding: 8px 0;
      scroll-snap-type: x proximity;

      .forecast {
        display: flex;
        flex-direction: column;
        flex: 0 0 120px;
        align-items: center;
        gap: 8px;
        border: 2px solid var(--COLOR_PRIMARY);
        border-radius: 8px;
        padding: 8px;
        scroll-snap-align: start;

        h6 {
          font-size: 1rem;
        }

        .temperatures {
          text-align: center;

          .high {
            font-size: 2rem;
            font-weight: bold;
            line-height: 1.25;
          }

          .low {
            font-size: 0.75rem;
            line-height: 1;
          }
        }

        .forecast-icon {
          margin: auto;
        }
      }
    }

    padding: 8px 0;
  }
}

.additional-info {
  display: flex;
  gap: 8px;
  width: 100%;

  span {
    font-size: 1.5rem;
  }

  .info {
    width: 100%;
  }
}

.form-control {
  position: relative;

  input {
    background-color: var(--COLOR_GRAY-100);
  }
}

.max-width {
  max-width: 56rem;
  margin: auto;
}

.icon {
  width: 2rem;
  fill: var(--COLOR_PRIMARY);

  &.sm {
    width: 1.5rem;
  }

  &.lg {
    width: 3rem;
  }

  &.xl {
    width: 6rem;
  }
}

.scale-wrapper {
  position: relative;
  white-space: nowrap;
  overflow: hidden;

  .metric,
  .imperial {
    display: block;
    transition: transform 250ms ease-in-out;
  }

  .imperial {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    transform: translateY(100%) translateX(-30px);
  }
}

.scale-wrapper.show-imperial {
  .metric {
    transform: translateY(-100%);
  }

  .imperial {
    transform: translateY(0%);
  }
}

.spinner {
  position: absolute;
  height: 90px;
  width: 90px;
  inset: 0;
  margin: auto;

  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    inset: 0;
    border-radius: 50%;
    border: 6px solid var(--COLOR_GRAY-500);
    border-block-start-color: var(--COLOR_PRIMARY);
    animation: spinner 850ms infinite ease-in-out forwards;
  }
}

.error {
  position: absolute;
  inset: 0;
  margin: auto;
  border: 1px solid hsl(348, 53%, 27%);
  border-radius: 8px;
  height: fit-content;
  width: fit-content;
  padding: 8px 16px;
  background-color: hsl(348, 25%, 85%);

  .error-title {
    color: hsl(348, 73%, 57%);
  }

  .error-message {
    color: hsl(348, 53%, 27%);
  }
}

.spinner,
.weather-info,
.error {
  pointer-events: none;
  opacity: 0;
  transition:
    transform 350ms ease-in,
    opacity 350ms ease-in;
}

.spinner {
  transform: scale(2);
}

.weather-info,
.error {
  transform: translateY(-30px);
}

.spinner.visible,
.weather-info.visible,
.error.visible {
  transform: scale(1) translateY(0);
  opacity: 1;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  transition-delay: 500ms;
}

@keyframes spinner {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
